* {
   padding: 0;
   margin: 0;
}
body {
   background-color: rgba(255, 255, 255, 0.739);
}
ul li {
    list-style: none;
}
a {
   text-decoration: none;
}
h1 {
   text-align: center;
}
.top {
   margin: 0 auto;
}


img {
   width: 100%;
    border-radius: 5px 5px 0 0;
}
h4 {
font-size: 14px;
}


/*第一层级  */

.service ul {
   display: flex;
   justify-content: center;
}
.service ul li {
   width: 300px;
   height: 300px;
   margin-left: 30px;
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
   transition: 0.3s;
   width: 40%;
   border-radius: 5px;
}
.service ul li:hover{
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.service ul li img {
   width: 100%;
   border-radius: 5px 5px 0 0;
}
.service ul li .container {
   padding: 2px 16px;
}
/* 第二层级 */
.Sequencing {
   display: none;
   position: relative;
   margin: 50px;
}

.Sequencing .consr{
   float: left;
   width: 200px;
   box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
   transition: 0.3s;
   border-radius: 5px;
   margin: 10px;
}
.Sequencing .container {
   padding: 10px;
   min-height: 100px;

}
.Sequencing div:hover {
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* 第三层级 */
.three-one {
   display: none;
}
.service-three .three-one .three-one-1 {
   width: 200px;
   float: left;
   margin: 20px;
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.service-three .three-one .three-one-2 {
   padding: 10px;
}



/* 测序第三层级 */
.three-eo {
   display: none;
}
.three-eo .three-eo-1 {
   width: 200px;
   float: left;
   margin: 20px;
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.three-eo .three-eo-2 {
   padding: 10px;
}
/* 表观基因 */
.three-ep {
   display: none;
}
.three-ep .three-ep-1 {
   width: 200px;
   float: left;
   margin: 20px;
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.three-ep .three-ep-2 {
   padding: 10px;
}

/* 宏基因组测序 */
.three-me {
   display: none;
}
.three-me .three-me-1 {
   width: 200px;
   float: left;
   margin: 20px;
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.three-me .three-me-2 {
   padding: 10px;
}
/*层级四 */
.service-four {
   display: none;
   float: left;
   color: #000;
}
.service-four .four-two-1 {
   width: 200px;
   float: left;
   margin: 20px;
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.service-four .four-two-2 {
   padding: 10px;
}
.service-four .four-two-1 img{
   width: 100%;
}
.service-four .four-two-1 h4{
   font-size: 14px;
   color: #0000;
}
 .service-four .four-two-1 p{
   font-size: 10px;
}

/*  */
.Diagnostics {
   padding: 30px;
   display: none;
   position: relative;
}
.Diagnostics ul {
   
   margin-left: 15px;
}
.Diagnostics ul li {
   width: 300px;
}
.Diagnostics-tt {
   display: none;
   margin-bottom: 30px;
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
   transition: 0.3s;
   border-radius: 5px;
}

.Diagnostics-2 {
 position: absolute;
 top: 350px;
 left: 30px;
}
.Diagnostics-3 {
 position: absolute;
 top: 350px;
 left: 280px;
}
.Diagnostics-tt .Diagnostics-2-box1 {
   width: 250px;
   float: left;
   margin: 30px;
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
   transition: 0.3s;
   border-radius: 5px;
}
.Diagnostics-2-box1 img {
   width: 100%;
   height: 100%;
}
.Diagnostics-2-box1 .container {
   padding: 20px;
}

/*  */
.Biopharma {
   padding: 30px;
   display: none;
   margin-left: 30px;
}

.Biopharma div {
   width: 200px;
   height: 100px;
   border: 1px solid #000;
   margin-bottom: 30px;
}
/*  */
.Support {
   padding: 30px;
}

.Support div{
   width: 200px;
   height: 100px;
   border: 1px solid #000;
   margin-bottom: 30px;
}








.main{
   position: absolute;
   left: 50%;
   top:10%;
   transform: translate(-50%,-50%);
   display: flex;
   justify-content: center;
}
.tab {
   margin: 0;
   padding: 0;
   overflow: hidden;
   list-style-type: none;
   display: flex;
}

.tab li {
   float: left;
   justify-items: center;

}

.tab li a {
   text-decoration: none;
   color: #000;
   background: #ddd;
   display: inline-block;
   width: 250px;
   height: 40px;
   text-align: center;
   line-height: 40px;
}

#content1,
#content2,
#content3,
#content4,
#content5
 {
   display: none;
   position: absolute;
   top:40px;
   padding:10px;
   box-sizing: border-box;
}

#content1:target,
#content2:target,
#content3:target,
#content4:target,
#content5:target
 {
   display: block;
}
#content1:target ~ .tab li:nth-child(1) a{
   background:skyblue;
   color:#fff;
}
#content2:target ~ .tab li:nth-child(2) a{
   background:skyblue;
   color:#fff;
}
#content3:target ~ .tab li:nth-child(3) a{
   background:skyblue;
   color:#fff;
}
#content4:target ~ .tab li:nth-child(4) a{
   background:skyblue;
   color:#fff;
}
#content5:target ~ .tab li:nth-child(5) a{
   background:skyblue;
   color:#fff;
}